body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #22f18a, #ea22f1, #05e1cf, #d01ff3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-transform: capitalize;
}
.task {
  margin-bottom: 20px;
  padding-left: 10px;

  border-radius: 10px 0 0 10px;
}
.task input {
  font-size: 15px;
  border: 1px solid gray;
  width: 350px;
  height: 35px;
}
.task:focus {
  outline: none;
}
.add {
  border-radius: 0 10px 10px 0;
  height: 40px;
  width: 44px;
  outline: none;
  border: 1px solid gray;
  background-color: white;
}
label {
  display: flex;
  justify-content: center;
}
.box {
  text-align: center;
  background-color: white;
  height: 450px;
  width: 500px;
  box-shadow: 2px 2px 3px red;
  padding-top: 2px;
  border-radius: 9px;
}
h2 {
  font-size: 25px;
  font-family: Arial black;
}

.apple,
.mango,
.cherry {
  margin-bottom: 40px;
  background-color: rgb(189, 186, 186);
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  align-items: center;
  margin-right: 20px;
  font-size: 20px;
  height: 65px;
  padding-right: 20px;
  border-radius: 8px;
}

.delete {
  width: 80px;
  height: 40px;
  color: white;
  border: 1px solid #d01ff3;
  background-color: #d01ff3;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
}
.edit {
  border-radius: 10px;
  height: 40px;
  width: 60px;
  color: white;
  font-size: 15px;
  outline: none;
  background-color: #22f18a;
  border: 1px solid #22f18a;
}
p {
  font-size: 20px;
  padding-bottom: 3px;
  padding-left: 3px;
}
@media screen and (width <= 500px) {
  .task {
    padding-left: 10px;
  }
  .task input {
    width: 200px;
    height: 35px;
  }

  .delete {
    width: 50px;

    font-size: 13px;
  }
  .edit {
    width: 50px;

    font-size: 15px;
  }
}
@media screen and (height<=450px) {
  .box {
    padding-top: 100px;
    height: 33rem;
    margin-top: 100px;
  }
}
